

{% extends 'base.html' %}
{% block content %}
<section class="section">
  <div class="container has-text-centered">
    <img src="{{ logo }}" alt="{{ app_name }} logo" style="max-width: 90%">

    <h1 class="title">
      {{ app_name}}
    </h1>
    <p class="subtitle">
      Register for an account at Streak to share your current streaks with your friends, keep your goals
      at a single place, and on your favorite platform!
    </p>
    <br>
    <div style="max-width: 300px; text-align: left; margin: auto;">
      <div class="field">
        <label class="label" for="userId">User ID</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="username" id="userId"
                 placeholder="johndoe">

        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" name="password" id="password"
                 placeholder="Password">
        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Confirm Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" name="password" id="confirm_password"
                 placeholder="Confirm Password">
        </div>
      </div>
      <div class="field has-text-centered is-fullwidth">
        <div class="control">
          <button type="submit" id='submitButton' name='submit' class="button is-primary is-fullwidth">Register</button>
          <a href="/register" id='registerButton' class="button is-primary is-fullwidth is-light">Login</a>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}