{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Streak 🏃
    </h1>
    <h2 class="subtitle">
      Loading Metadata...
    </h2>

  </div>

  {%include 'notification.html' %}

  <div class="container" style="padding-top: 2em;">

    <button id="streak__button-new_task_create" class="button is-large is-primary js-modal-trigger" data-target="streak__modal-new_task_create">
      <span class="icon">
        <i class="fa fa-plus"></i>
      </span>
      <span>New</span>
      
    </button>
  </div>

  {% with task_modal_mode="create" %}
    {% include 'modal.html' %}
  {% endwith %}

  <div class="container mt-4" >
  {% for task in tasks %}
    <div class="card my-1">
      <header class="card-header">
        <p class="card-header-title">
          {{ task.task_name }}
        </p>

        <a href="/task/{{ task.task_id }}" class="button card-header-icon m-2" aria-label="more options">
          <span class="icon">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </span>
        </a>

        <button class="button is-primary card-header-icon m-2" style="margin: 0.5em"  aria-label="more options">
          <span class="icon">
            <i class="fa fa-check" aria-hidden="true"></i>
          </span>
        </button>
        
      </header>
    </div>
    
  {% endfor %}
  </div>

</section>




{% endblock %}
