{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<section class="section">
  <div class="container">
    <h1 class="title">
    {% if task.title is not none %}
        {{ task.task_name }}
    {% else %}
        Untitled Task 🏃
    {% endif %}
      
    </h1>
    <h2 class="subtitle">
    {% if task.description is not none %}
      {{ task.task_description }}
    {% else %} 
      This task has no description. 
    {% endif %}
    </h2>
    <p >
      {% if task.schedule %}
        Reminds everyday at {{ task.schedule }}
      {% else %}
        No reminders set.
      {% endif %}
    </p>
    <button id="streak__button-new_task_create" data-task-id="{{ task.task_id }}" class="button is-primary is-light mt-5">
        <span class="icon">
            <i class="fa fa-edit"></i>
        </span>
        <span>
            Edit Task
        </span>
    </button>
    <br>
    <button id="streak__button-new_task_create" data-task-id="{{ task.task_id }}" class="button is-primary is-light mt-5">
      <span class="icon">
          <i class="fa fa-edit"></i>
      </span>
      <span>
          Edit Task
      </span>
  </button>
  </div>


  <div class="container mt-4">
    <h1 class="title">
        39 days
    </h1>
    <h2 class="subtitle">
        streak
    </h2>
    <p>Alltime highest is {{ task.streak_count }}</p>
    
  </div>

  {% with task_modal_mode=update, task=task %}
    {% include 'modal.html' %}
  {% endwith %}
</section>

{% endblock %}
