{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<section class="section">
  <div class="container">
    <h1 class="title">
    {% if task.title is not none %}
        {{ task.task_name }}
    {% else %}
        Untitled Task 🏃
    {% endif %}
      
    </h1>
    <h2 class="subtitle">
    {% if task.description is not none %}
      {{ task.task_description }}
    {% else %} 
      This task has no description. 
    {% endif %}
    </h2>
    <p >
      {% if task.schedule %}
        Reminds everyday at {{ task.schedule }}
      {% else %}
        No reminders set.
      {% endif %}
    </p>
    <button id="streak__button-new_task_create" data-task-id="{{ task.task_id }}" class="button is-primary is-light mt-5">
        <span class="icon">
            <i class="fa fa-edit"></i>
        </span>
        <span>
            Edit Task
        </span>
    </button>
    <br>
    <button id="streak__button-new_task_delete" data-task-id="{{ task.task_id }}" class="button mt-1 is-danger is-light">
      <span class="icon">
          <i class="fa fa-trash"></i>
      </span>
      <span>
          Delete Task
      </span>
    </button>
    <br>
    
  </div>


  <div class="container mt-4">
    <h1 class="title" id="streak__title-current_streak">
        Loading...
    </h1>
    <h2 class="subtitle" id="streak__title-current_streak-description">
        Fetching streak data.
    </h2>
    
  </div>

  {% with task_modal_mode=update, task=task %}
    {% include 'modal.html' %}
  {% endwith %}
</section>

<section class="section">

  <div class="pricing-table">


    <div class="pricing-plan is-warning">
      <div class="plan-header">Monthly</div>
      <div class="plan-price"><span id="streak__title-current_streak_monthly" class="plan-price-amount">...</span></div>

    </div>

    <div class="pricing-plan is-active">
      <div class="plan-header">Current</div>
      <div class="plan-price"><span id="streak__title-current_streak_current" class="plan-price-amount">...</span></div>

    </div>

    <div class="pricing-plan">
      <div class="plan-header">Yearly</div>
      <div class="plan-price"><span id="streak__title-current_streak_yearly" class="plan-price-amount">...</span></div>

    </div>

    <div class="pricing-plan is-danger">
      <div class="plan-header">All time</div>
      <div class="plan-price"><span id="streak__title-current_streak_alltime" class="plan-price-amount">...</span></div>
      
    </div>
  </div>

</section>
{% endblock %}
