{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<section class="section">
  <div class="container">
    <img style="border-radius: 50%; height: 4em" src="https://icotar.com/avatar/@{{ user.username }}">
    
    <h1 class="title">
    {% if user.name is not none %}
        {{ user.name }}
    {% else %}
        Anonymous 🤠
    {% endif %}
      
    </h1>
    <h2 class="subtitle">
    {% if user.last_seen is not none %}
      User last seen at {{ user.last_seen }}
    {% else %} 
      User has not accessed the profile yet
    {% endif %}
    </h2>
    <button id="streak__button-new_task_create" data-user-id="{{ user.user_id }}" class="button is-primary  mt-5 is-loading">
        <span class="icon">
            <i class="fa fa-user"></i>
        </span>
        <span id="streak__button-new_task_create-label">
            Add Friend
        </span>
    </button>
  </div>


  <div class="container mt-4">

    <p>Monthly</p>
    <progress class="progress is-primary" value="{{ monthly_percentage }}" max="100">15%</progress>
    <p>Yearly</p>
    <progress class="progress is-link" value="{{ yearly_percentage }}" max="100">15%</progress>
    <p>All Time</p>
    <progress class="progress is-danger" value="{{ alltime_percentage }}" max="100">15%</progress>
    
  </div>


</section>

{% endblock %}
